In [1]:
# class is a classification of real world entity. it dont give the specific brand or property.(brand, bonet, tyre, engine, etc.)
# object is a varriable of a class.

In [2]:
i = 10

In [3]:
print(type(i))

<class 'int'>

In [4]:
# class is a key word
#class test:

In [5]:
class test:
    pass # pass keyword

In [6]:
class person:
    pass

In [7]:
# create a variable or object of a class
p = person

In [8]:
print(p)

<class '__main__.person'>

In [9]:
p.name = 'abhi'
p.surname = 'rout'
p.yob = '1234'

In [10]:
# a is also a person
a = person
a.name = 'asdf'
a.surname = 'akdfjf'
a.yob = '1212'
a.empon = 1234

In [11]:
print(person)

<class '__main__.person'>

In [12]:
a.surname

'akdfjf'

In [13]:
p.surname

'akdfjf'

In [14]:
p.yob

'1212'

In [15]:
p = person 
p.name = 'abhi'
p.surname = 'rout'
p.yob = '1234'
a = person
a.name = 'asdf'
a.surname = 'akdfjf'
a.yob = '1212'
a.empon = 1234

In [16]:
p.name #______

'asdf'

In [17]:
type(p.name)

str

In [39]:
class person:
    def __init__(self, name, surname, yob):  #__init__ default od inbuild method
        self.name = name
        self.surname = surname
        self.yob = yob
    def test(self, n,m):
        return n+m+ self.yob

In [42]:
p = person()

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [41]:
p =  person('abhi', 'rout', 1234)

In [21]:
print(p)

<__main__.person object at 0x00000220390EEC10>

In [22]:
s = person('abc','aadhd',123234)

In [23]:
s.name

'abc'

In [24]:
p.name

'abhi'

In [25]:
class person:
    
    def __init__(self, name, surname, yob):
        self.name= name
        self.surname = surname
        self.yob = yob
        
    def test(self, n,m):
        return n+m+ self.yob

In [26]:
p = person('abhi','rout',1234)

In [27]:
p.test(23,32)

1289

In [28]:
s = person('asd','adw',123)

In [29]:
p.test(12,34)

1280

In [30]:
print(p)

<__main__.person object at 0x00000220390EEAF0>

In [47]:
class person:
    def __init__(self, name, surname, yob):
        self.name=name
        self.surname=surname
        self.yob=yob
        
    def test(self, n, m):
        return n+m+ self.yob

In [48]:
p = person("abhi",'rout',23)

In [55]:
print(p)

<__main__.person object at 0x00000220390EEF70>

In [38]:
p.name

'abhi'

In [49]:
p.test(1,4)

28

In [50]:
s = person('aad','ASD',23)

In [52]:
s.name

'aad'

In [53]:
s.test(1,2)

26

In [54]:
s.yob

23

In [62]:
class person:
    
    def __init__(self, name, surname, yob):
        self.name= name
        self.surname = surname
        self.yob = yob
        
    def test(self, n,m):
        return n+m+ self.yob
    def __str__(self):
        return 1
        return "my name is"

In [63]:
p = person('abhi', 'rout', 12)

In [64]:
print(p)

TypeError: __str__ returned non-string (type int)

In [4]:
class person:
    
    def __init__(self, name, surname, yob):
        self.name= name
        self.surname = surname
        self.yob = yob
        
    def test(self, n,m):
        return n+m+ self.yob
    def __str__(self):
        return "my name is"

In [5]:
p = person('abhi', 'rout',12)

In [6]:
print(p)

my name is

# Method 1

In [7]:
class person:
    
    def __init__(self, name, surname, yob):
        self.name= name
        self.surname = surname
        self.yob = yob
        
    def test(self, n,m):
        return n+m+ self.yob
    def __str__(self):
        return "%s is a first name and its sur name is %s and year of birth is %d " %(self.name, self.surname, self.yob)

In [8]:
p = person('abhi','rout',12)

In [11]:
s = person('as','ad',13)

In [12]:
p

In [13]:
print(p)
print(s)

abhi is a first name and its sur name is rout and year of birth is 12
as is a first name and its sur name is ad and year of birth is 13

In [14]:
class test:
    pass

In [16]:
p = test()
p.name = 'abhi'
p.surname = 'rout'
p.yob = 123

In [17]:
print(p)

<__main__.test object at 0x000002722D79D520>

In [18]:
p.name

'abhi'

In [20]:
s = test ()
s.name = 'asd'

In [21]:
s.name

'asd'

In [22]:
p.name

'abhi'

In [31]:
class person:
    def pass_name(self, name):
        self.name = name
        
    def pass_surname(self, surname):
        self.surname = surname
    
    def pass_yob(self,yob):
        self.yob = yob

In [43]:
p = person()

In [44]:
p.pass_name('abhi')
p.pass_surname('rout')
p.pass_yob('28')

In [45]:
p.name

'abhi'

In [46]:
p.surname

'rout'

In [47]:
p.yob

'28'

In [48]:
s= person("as","asd",12)

TypeError: person() takes no arguments

In [49]:
s.test(12,2)

AttributeError: 'test' object has no attribute 'test'

In [42]:
p.test(1,2)

AttributeError: 'person' object has no attribute 'test'

# Method 2

In [50]:
class test:
    pass

In [51]:
p = test()
p.name = 'erty'
p.surname = "fghjk"
p.yob = 28

In [52]:
p.name

'erty'

In [53]:
s = person()

In [54]:
s.name = 'xc'

In [55]:
s.name

'xc'

In [56]:
p.name

'erty'

In [57]:
d = person()
d.name = 'lk'

In [58]:
d.name

'lk'

In [63]:

s.name

'xc'

# Method 3

In [64]:
class person:
    def pass_name(self, name):
        self.name = name
        
    def pass_surname(self, surname):
        self.surname = surname
        
    def pass_yob(self, yob):
        self.yob = yob

In [67]:
p = person()
p.pass_name('ab')
p.pass_surname('rt')
p.pass_yob(1)

In [68]:
p.name

'ab'

In [69]:
p.yob

1

# ## Abstraction

In [70]:
## public, protected, private

In [71]:
class person:
    
    def __init__(self, name, surname, yob):
        self._name= name
        self._surname = surname
        self._yob = yob
        
    def test(self, n,m):
        return n+m+ self._yob
    def __str__(self):
        return "%s is a first name and its sur name is %s and year of birth is %d " %(self._name, self._surname, self._yob)

In [72]:
# (_)protected 
p = person('aq', 'ws',34)

In [73]:
p._name

'aq'

In [75]:
p.__dict__

{'_name': 'aq', '_surname': 'ws', '_yob': 34}

In [77]:
p

In [78]:
s = person("asdd", 'asdd',132)

In [79]:
s.__dict__

{'_name': 'asdd', '_surname': 'asdd', '_yob': 132}

In [97]:
class person:
    
    def __init__(self, name, surname, yob):
        self.__name= name
        self._surname = surname
        self._yob = yob
        
    def test(self, n,m):
        return n+m+ self._yob
    def __str__(self):
        return "%s is a first name and its sur name is %s and year of birth is %d " %(self._name, self._surname, self._yob)

In [98]:
p = person('asd','DAS',12334)

In [99]:
p.__dict__

{'_person__name': 'asd', '_surname': 'DAS', '_yob': 12334}

In [100]:
p._person__name

'asd'

In [101]:
p._surname

'DAS'

# inheritance

In [102]:
class person:
    
    def __init__(self, name, surname, yob):
        self._name= name
        self._surname = surname
        self._yob = yob
        
    def test(self, n,m):
        return n+m+ self._yob
    
    def __str__(self):
        return "%s is a first name and its sur name is %s and year of birth is %d " %(self._name, self._surname, self._yob)

In [107]:
class student(person):
    def __init__(self, roll_no, collage_name, *args):
        super (student, self).__init__(*args)
        self.roll_no = roll_no
        self.collage_name = collage_name
        
        
stud = student(1324,"RRR","abhi",'rout',12)

In [108]:
stud._name

'abhi'

In [110]:
stud.collage_name

'RRR'

In [111]:
stud.test(1,2)

15

In [114]:
class a:
    def test(self):
        print("my name is abhi")
        
class b:
    def test(self):
        print("my surname is rout")

    
class c(a,b): # class "c" is a child class of 'a' and 'b'.
    obja = a()
    objb = b()
    obja.test()
    objb.test()
    
objc = c()
objc.test()

my name is abhi
my surname is rout
my name is abhi